<h3><%= "Edit #{@user.first_name}\'s Account Details" %></h3>
<%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
            <h3><%= pluralize(@user.errors.count, "error") %> prohibited this post from being saved:</h3>
            <ul>
                <% @user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="first_name_field">
        <%= f.label(:first_name) %><br>
        <%= f.text_field(:first_name) %><br>
    </div>

    <div class="last_name_field">
        <%= f.label(:last_name) %><br>
        <%= f.text_field(:last_name) %><br>
    </div>

    <div class="email_field">
        <%= f.label(:email) %><br>
        <%= f.text_field(:email) %><br>
    </div>

    <div class="passsword_field">
        <%= f.label(:password) %><br>
        <%= f.password_field(:password_digest) %><br>
    </div>

    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>