<%= form_for(@project) do |f| %>
    <% if @project.errors.any? %>
        <div id="error_explanation">
            <h3><%= pluralize(@project.errors.count, "error") %> prohibited this post from being saved:</h3>
            <ul>
                <% @project.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="name_field">
        <%= f.label(:name) %><br>
        <%= f.text_field(:name) %><br>
    </div>

    <div class="type_field">
        <%= f.text_field(:project_type, list: "project_types_autocomplete") %><br>
        <datalist id="categories_autocomplete">
            <% Project::TYPES.each do |type| %>
                <option value="<%= type %>"> 
            <% end %>
        </datalist>
    </div>

    <div class="desc_field">
        <%= f.label(:desc) %><br>
        <%= f.text_area(:desc) %><br>
    </div>

    <div class="contractor_field">
        <%= f.label(:contractor_id) %><br>
        <%= f.collection_select(:contractor_id, Contractor.all, :name, :name, { include_blank: true }) %><br><br>
    </div>

    <div class="user_field">
        <%= f.label(:user_id) %><br>
        <%= f.text_field(:user_id) %><br><br>
    </div>

    <div class="actions">
        <%= f.submit %>
    </div>

<% end %>