<h1><%= @project.name %></h1>
<p>Status: <%= @project.status %></p>
<p>Description: <%= @project.desc %></p>
<p>Contractor: <%= @project.contractor.full_name %></p>

<%= link_to("Edit", edit_user_project_path(@project)) %> | <%= button_to "Destroy", user_project_path(@project), method: :delete %>