<!DOCTYPE html>
<html>
  <head>
    <title>RailsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if logged_in? %>
      <h5><%= link_to("New Project", new_user_project_path(current_user)) %> | <%= link_to("Review Projects", user_projects_path(current_user)) %> | <%= link_to("Find a Contractor", contractors_path) %> | <%= link_to("Logout", "/logout", method: :delete) %></h5>
    <% end %>

    <% flash.each do |name, msg| -%>
      <%= content_tag(:div, msg, class: name) %>
    <% end -%>
    
    <%= yield %>

  </body>
</html>
